extends ../layout/default

//- block scripts
//-   script(src='frontend/test.js')
block content  
  h2 Последнее обновление #{Update.date} в: #{Update.time}
  h3 Список клиентов
  table.table.table-hover(id='client')
    thead
      tr
        th(scope='col') Имя
        th(scope='col') Реальный адрес
        th(scope='col') Принято
        th(scope='col') Передано
        th(scope='col') Подключился
    tbody
      each row in ClientList
        tr
          td #{row.CommonName}
          td #{row.RealAddress}:#{row.RealPort}
          td #{row.BytesReceived}
          td #{row.BytesSent}
          td #{row.ConnectedSince}
  h3 Таблица маршрутов
  table.table.table-hover(id='routing')
    thead
      tr
        th(scope='col') Виртуальный адрес
        th(scope='col') Имя
        th(scope='col') Реальный адрес
        th(scope='col') Обновлено
    tbody
      each row in RoutingTable
        tr
          td #{row.VirtualAddress}
          td #{row.CommonName}
          td #{row.RealAddress}:#{row.RealPort}
          td #{row.LastRef}